*
!yelken
!app
!themes/default
!playground
yelken/.env*
yelken/target
app/.env.local
app/dist
app/node_modules
playground/dist
playground/node_modules
playground/.vite
playground/wasm
themes/default/assets/dist
themes/default/templates/dist
themes/default/node_modules
