<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Your Site Title</title>
    <meta name="description" content="Some Description" />
    <meta property="og:description" content="Some Description" />
    <meta property="og:title" content="Your Site Title" />
    <meta property="og:type" content="article" />
    <meta property="og:locale:alternate" content="tr" />
    <link rel="alternate" hreflang="tr" href="/tr" />

    {% include "dist/header.html" %}
</head>

