<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{{ localize("site-title") }}{% endblock title%}</title>
      <link href="{{ asset_url('main.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <header>
            <h1 class="site-header">
                <a href="{{ get_url(page='home') }}">{{ localize("site-title") }}</a>
            </h1>
            <nav>
                {% for key, name in locale.all %}
                    <a href="{{ get_url(path = "/" ~ key, localize = false) }}" onclick="document.cookie = 'yelken_locale={{ key }}; SameSite=Strict; Path=/'">{{ key }}</a>
                {% endfor %}
            </nav>
        </header>
        <main id="main" tabindex="-1">
            {%- block body %}{% endblock body -%}
        </main>
        <footer>
            <p>
                {{ localize('powered-by', name='<a target="_blank" href="https://github.com/bwqr/yelken">Yelken</a>') | safe }}, {{ localize('theme') }} <a target="_blank" href="https://github.com/zbrox/anpu-zola-theme">Anpu</a>.
            </p>
        </footer>
    </div>
  </body>
</html>
