<!-- base.html -->
<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{{ localize("site-title") }}{% endblock title%}</title>
  </head>
  <body>
      <header>
          <h1>
              <a href="{{ localize_url(page='home') }}">{{ localize("site-title") }}</a>
          </h1>
          <nav>
              {% for menu in get_contents('menu', ['name', 'path']) %}
                  <a href="{{ localize_url(path=menu.path) }}">{{ menu.name }}</a>
              {% endfor %}
          </nav>

          <nav>
              {% for key, name in locale.all %}
                  <a href="{{ "/" ~ key }}" onclick="document.cookie = 'yelken_locale={{ key }}; SameSite=Strict; Path=/'">{{ key }}</a>
              {% endfor %}
          </nav>
      </header>

      <main>
          {%- block body %}{% endblock body -%}
      </main>
  </body>
</html>
