{% extends "layouts/base.html" %}

{% set article = get_content("article", "slug", params.slug) %}
{% set articles = get_contents("article", ["title", "slug"]) %}

{%- block head -%}
<title>{{ article.title }}</title>
{%- endblock head -%}

{%- block body -%}
{# <p>{{ call_plugin(plugin="yelken.editor", fn_id="hello", opts=["world"]) }}</p> #}
<p>{{ article.content }}</p>
<ul>
  {% for a in articles %}
    <li><a href="/article/{{ a.slug }}">{{ loop.index }}. {{ a.title }}</a></li>
  {% endfor %}
</ul>
{%- endblock body -%}
